.list-group-item {
  line-height: 2.5;
}

body {
  background-image: url("../images/pow-star.png");
  background-position: center;
  
}

@font-face {
  font-family: "SkyFall";
  src: url("../images/SkyFall.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SkyFall";
}

.card-title {
  font-size: 12px;
}

.front {
  background-image: url("../images/clue-card.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.clue {
  position: absolute;
  bottom: 10%;
  left: 10%;

}